# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/symbols/

# Android
.gradle/
local.properties
*.apk
*.ap_
*.aab

# Windows
/windows/flutter/ephemeral/
/windows/flutter/generated_plugin_registrant.h
/windows/flutter/generated_plugin_registrant.cc
/*.vcxproj
/*.vcxproj.filters
/*.vcxproj.user
/*.sln
/*.suo
/x64/

# Python & Node
__pycache__/
*.pyc
*.pyo
*.pyd
.env
node_modules/
dist/

# Databases & Credentials
*.db
*.sqlite
serviceAccountKey.json

# IDEs
.idea/
.vscode/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db
